In [1]:
import selenium
from selenium import webdriver
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
from selenium.webdriver.common.by import By # 셀레니움 4.0부터 포함된 함수(필수)
import time

In [2]:
driver = webdriver.Chrome('./데이터수집/driver/chromedriver.exe')

C:\Users\82107\AppData\Local\Temp\ipykernel_23516\3101711716.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('./데이터수집/driver/chromedriver.exe')

In [3]:
url = 'https://www.megabox.co.kr/movie-detail/comment?rpstMovieNo=21049700'
driver.get(url)

In [4]:
story_point = '#contentData > div > div.movie-idv-story > ul > li > div.story-area > div.story-box > div > div.story-cont > div.story-point'
story_recomm = '#contentData > div > div.movie-idv-story > ul > li > div.story-area > div.story-box > div > div.story-cont > div.story-recommend'
story_txt = '#contentData > div > div.movie-idv-story > ul > li > div.story-area > div.story-box > div > div.story-cont > div.story-txt'

In [5]:
elem_point = driver.find_elements(By.CSS_SELECTOR,story_point)
elem_recomm = driver.find_elements(By.CSS_SELECTOR,story_recomm)
elem_txt = driver.find_elements(By.CSS_SELECTOR,story_txt)

In [6]:
len(elem_point),len(elem_recomm),len(elem_txt)

(10, 10, 10)

In [7]:
sel = '#contentData > div > div.movie-idv-story > nav.pagination > *'

In [8]:
elem = driver.find_elements(By.CSS_SELECTOR,sel)[0:10]

In [9]:
elem[9].text

'10'

In [10]:
result = []

In [12]:
for i in range(10) :
    url = 'https://www.megabox.co.kr/movie-detail/comment?rpstMovieNo=21049700'
    driver.get(url)
    time.sleep(2)
    sel_page = '#contentData > div > div.movie-idv-story > nav.pagination > *'
    elem = driver.find_elements(By.CSS_SELECTOR,sel_page)[0:10]
    elem[i].click()
    time.sleep(2)
    
    story_point = '#contentData > div > div.movie-idv-story > ul > li > div.story-area > div.story-box > div > div.story-cont > div.story-point'
    story_recomm = '#contentData > div > div.movie-idv-story > ul > li > div.story-area > div.story-box > div > div.story-cont > div.story-recommend'
    story_txt = '#contentData > div > div.movie-idv-story > ul > li > div.story-area > div.story-box > div > div.story-cont > div.story-txt'
    
    elem_point = driver.find_elements(By.CSS_SELECTOR,story_point)
    elem_recomm = driver.find_elements(By.CSS_SELECTOR,story_recomm)
    elem_txt = driver.find_elements(By.CSS_SELECTOR,story_txt)
    
    res_point = [e_p.text for e_p in elem_point]
    res_recomm = [e_r.text for e_r in elem_recomm]
    res_txt = [e_t.text for e_t in elem_txt]
    
    result.append(pd.DataFrame({'평점':res_point,'추천인':res_recomm,'관람평':res_txt}))

In [52]:
pd.concat(result).reset_index(drop=True).to_csv('./movie.csv',encoding = 'utf-8-sig')

In [5]:
pd.read_csv('./movie.csv',index_col=0)

    평점     추천인                               관람평
0    8  연출 외+2    사람이 보이는 영화. 이념 같은 건 개나 줘 버려!!!
1    8  연출 외+3         간만에 긴장감 있음면서 연기까지 좋았던 영화.
2   10  연출 외+3                  감동.. 감동.. 감동적이에요
3    8  연출 외+2  보면서 이게 실화라고? 하면서 봄.. 액션씬이 맘에 들어요
4    7    연출배우                  다 보고나니 총소리만 기억난다
..  ..     ...                               ...
95   9     스토리                    재밋게 잘봣슙니다 ~!~!
96  10   연출영상미             배우들의 열연과 감독의연출이 훌륭합니다
97  10   스토리배우           배우 연기력. 탄탄한스토리. 화려한 액션.
98   8   스토리배우              배우들의 연기가 영화에 몰입하게 만듦
99  10   스토리배우                        좋은 영화 였어요.

[100 rows x 3 columns]

In [13]:
driver.close()

In [75]:
pd.read_csv('./추가요금_2021_OTT.csv').to_csv('./추가요금_2021_OTT.csv',encoding = 'utf-8-sig')

In [76]:
df = pd.read_csv('./추가요금_2021_OTT.csv',index_col=0) 
df

   구분별(1)  구분별(2)       2021     2021.1    2021.2     2021.3
0  구분별(1)  구분별(2)  Tving (%)  왓챠플레이 (%)  넷플릭스 (%)  Wavve (%)
1      연령     10대        6.4        1.7      32.6        7.4
2      연령     20대       10.7        4.2      53.1        9.2
3      연령     30대        7.9        2.1      43.5        8.8
4      연령     40대        3.7        0.7      22.1        4.0
5      연령     50대        1.4        0.9      10.8        1.3
6      연령     60대        0.2        0.0       2.0        0.1
7      연령  70세 이상        0.2        0.0       0.1        0.0

In [67]:
df2 = df['연령대'].dropna(axis=0)
df2

1       10대
2       20대
3       30대
4       40대
5       50대
6       60대
7    70세 이상
Name: 연령대, dtype: object

In [64]:
df2

1       10대
2       20대
3       30대
4       40대
5       50대
6       60대
7    70세 이상
Name: 연령대, dtype: object

In [79]:
df2.columns = ['연령대', '2021','2021','2021','2021']
df2

      연령대       2021       2021      2021       2021
0  구분별(2)  Tving (%)  왓챠플레이 (%)  넷플릭스 (%)  Wavve (%)
1     10대        6.4        1.7      32.6        7.4
2     20대       10.7        4.2      53.1        9.2
3     30대        7.9        2.1      43.5        8.8
4     40대        3.7        0.7      22.1        4.0
5     50대        1.4        0.9      10.8        1.3
6     60대        0.2        0.0       2.0        0.1
7  70세 이상        0.2        0.0       0.1        0.0

In [38]:
df_1.drop( 'wow', axis=1)

In [77]:
df2 =  df.drop('구분별(1)',axis=1) 
df2

   구분별(2)       2021     2021.1    2021.2     2021.3
0  구분별(2)  Tving (%)  왓챠플레이 (%)  넷플릭스 (%)  Wavve (%)
1     10대        6.4        1.7      32.6        7.4
2     20대       10.7        4.2      53.1        9.2
3     30대        7.9        2.1      43.5        8.8
4     40대        3.7        0.7      22.1        4.0
5     50대        1.4        0.9      10.8        1.3
6     60대        0.2        0.0       2.0        0.1
7  70세 이상        0.2        0.0       0.1        0.0

In [80]:
df2.to_csv('./추가요금_2021_OTT.csv',encoding = 'utf-8-sig')

In [ ]:
pd.read_csv('./추가요금을_지불하고_이용한_온라인동영상제공서비스_OTT__20230508145707.csv').to_csv('./추가요금_OTT.csv',encoding = 'utf-8-sig')

In [28]:
df

,,.1,2020,2020.1,2020.2,2020.3,2021,2021.1,2021.2,2021.3
0,구분별(1),구분별(2),Tving (%),왓챠플레이 (%),넷플릭스 (%),Wavve (%),Tving (%),왓챠플레이 (%),넷플릭스 (%),Wavve (%)
1,연령,10대,1.1,0.1,11.4,0.9,6.4,1.7,32.6,7.4
2,연령,20대,2.1,1.2,18.1,5.1,10.7,4.2,53.1,9.2
3,연령,30대,2.8,0.3,20.2,4.2,7.9,2.1,43.5,8.8
4,연령,40대,0.7,0.0,7.6,0.9,3.7,0.7,22.1,4.0
5,연령,50대,1.3,0.0,3.4,0.6,1.4,0.9,10.8,1.3
6,연령,60대,0.0,0.0,1.5,0.0,0.2,0.0,2.0,0.1
7,연령,70세 이상,0.0,0.0,3.0,0.0,0.2,0.0,0.1,0.0

In [81]:
df = pd.read_csv('./추가요금_2021_OTT.csv',index_col=0) 
df

      연령대       2021     2021.1    2021.2     2021.3
0  구분별(2)  Tving (%)  왓챠플레이 (%)  넷플릭스 (%)  Wavve (%)
1     10대        6.4        1.7      32.6        7.4
2     20대       10.7        4.2      53.1        9.2
3     30대        7.9        2.1      43.5        8.8
4     40대        3.7        0.7      22.1        4.0
5     50대        1.4        0.9      10.8        1.3
6     60대        0.2        0.0       2.0        0.1
7  70세 이상        0.2        0.0       0.1        0.0

In [82]:
df = pd.read_csv('./추가요금_2020_OTT.csv',index_col=0) 
df

      연령대       2020     2020.1    2020.2     2020.3
0  구분별(2)  Tving (%)  왓챠플레이 (%)  넷플릭스 (%)  Wavve (%)
1     10대        1.1        0.1      11.4        0.9
2     20대        2.1        1.2      18.1        5.1
3     30대        2.8        0.3      20.2        4.2
4     40대        0.7        0.0       7.6        0.9
5     50대        1.3        0.0       3.4        0.6
6     60대        0.0        0.0       1.5        0.0
7  70세 이상        0.0        0.0       3.0        0.0